.MovieCard{
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}
.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @include responsive(T) {
        grid-template-columns: repeat(3, 1fr);
        li{margin-bottom: 0px;}
    }
    @include responsive(D) {
        grid-template-columns: repeat(5, 1fr);
    }

    li {
        margin-bottom: 30px;
        img {
            width: 100%;
            border-radius: 5px;
            cursor: pointer;
        }
        .movie-title{
            cursor: pointer;
        }
        .movie-average {
            color: gray;
            font-size: 14px;
            span {
                margin-right: 5px;
            }
        }
    }
}