$light-gray : rgb(228, 228, 228);

.SignUp{
    width: 80%;
    max-width: 1150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(241, 241, 241);
    padding: 30px;
    border-radius: 10px;

    @include responsive(D) {
        width: 40%;
    }

    h2{
        text-align: center;
        margin-bottom: 30px;
    }
    form{
        div{
            margin-bottom: 10px;
            label {
                display: block;
                margin-bottom: 5px;
            }
            input {
                width: 100%;
                background-color: #ffffffc0;
                border-radius: 5px;
                padding: 10px 10px;
                font-size: 16px;
            }
        }
        .submit {
            width: 100%;
            background-color: gray;       
            color: #fff;     
            border-radius: 50px;
            padding: 10px;
            margin-top: 50px;
        }
    }
}