$light-gray : rgb(228, 228, 228);

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #ffffffc4;
    border-bottom: 1px solid $light-gray;
    height: 70px;
    .inner {
        width: 90%;
        max-width: 1720px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            font-size: 18px;
            cursor: pointer;
        }
        .btn-wrap {
            display: flex;
            gap: 10px;
            button {
                font-size: 14px;
                background-color: #fff;
                border: 1px solid $light-gray;
                padding: 5px 10px;
                border-radius: 50px;
                transition: 0.5;
                &:hover {
                    background-color: $light-gray;
                }
            }
        }
    }
}