.MovieCard{
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
    // border: 1px solid blue;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        width: 18%;
        // border: 1px solid red;
        margin-bottom: 30px;
        img {
            width: 100%;
            border-radius: 5px;
            cursor: pointer;
        }
        .movie-title{
            cursor: pointer;
        }
        .movie-average {
            color: gray;
            font-size: 14px;
            span {
                margin-right: 5px;
            }
        }
    }
}