/*reset*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

/* html {} */
/* body {} */
h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, select, textarea {
  background-color: transparent;
  border: 0;
}
button:focus, input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none;
}

a, button {
  cursor: pointer;
}

button {
  padding: 0;
}

ul, ol {
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

/*app*/
.App {
  padding-bottom: 100px;
}
.App.page {
  padding-top: 150px;
}

/**/
.align-center {
  text-align: center;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@media screen and (min-width: 768px) {
  .sm-only {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .md-only {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .md-only {
    display: none !important;
  }
}

@media screen and (max-width: 1199px) {
  .lg-only {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .md-hidden {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .lg-hidden {
    display: none !important;
  }
}

.content-center {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mt50 {
  margin-top: 50px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.btn-type1 {
  border: 1px solid rgb(228, 228, 228);
  padding: 5px 30px;
  border-radius: 5px;
}

.flex-wrap {
  display: flex;
}

.gap10 {
  gap: 10px;
}

.warning {
  color: #d10000;
  font-size: 15px;
  margin-top: 5px;
}

.banner {
  width: 100%;
  height: 760px;
  margin-bottom: 100px;
  background-position: top center;
  background-size: cover;
  position: relative;
}
.banner .inner {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 80px;
}
.banner .inner .banner-title {
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
  text-shadow: 1px -1px 7px black;
}
.banner .inner .banner-overview {
  color: #fff;
  max-width: 600px;
  text-shadow: 1px -1px 7px black;
  margin-bottom: 30px;
}
.banner .inner .view-more {
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 50px;
  font-weight: 600;
}
.banner .fade-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.loginWrap {
  width: 80%;
  max-width: 1150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1200px) {
  .loginWrap {
    width: 40%;
  }
}

.Login {
  background-color: rgb(241, 241, 241);
  padding: 30px;
  border-radius: 10px;
}
.Login h2 {
  text-align: center;
  margin-bottom: 30px;
}
.Login form {
  margin-bottom: 50px;
}
.Login form div {
  margin-bottom: 10px;
}
.Login form div label {
  display: block;
  margin-bottom: 5px;
}
.Login form div input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7529411765);
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
}
.Login form .submit {
  width: 100%;
  background-color: gray;
  color: #fff;
  border-radius: 50px;
  padding: 10px;
  margin-top: 30px;
}
.Login .social-login {
  display: flex;
  justify-content: space-between;
}
.Login .social-login button {
  width: 32%;
  background-color: #fff;
  padding: 10px 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.MovieCard {
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .row {
    grid-template-columns: repeat(3, 1fr);
  }
  .row li {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .row {
    grid-template-columns: repeat(5, 1fr);
  }
}
.row li {
  margin-bottom: 30px;
}
.row li img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.row li .movie-title {
  cursor: pointer;
}
.row li .movie-average {
  color: gray;
  font-size: 14px;
}
.row li .movie-average span {
  margin-right: 5px;
}

.MovieDetail {
  width: 90%;
  max-width: 1150px;
  background-color: rgb(241, 241, 241);
  padding: 30px;
  border-radius: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .MovieDetail {
    width: 60%;
  }
}
.MovieDetail img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.MovieDetail h2 {
  margin-bottom: 10px;
}
.MovieDetail .movie-average {
  color: gray;
  margin-bottom: 10px;
}
.MovieDetail .movie-average span {
  margin-right: 5px;
}
.MovieDetail .movie-genres {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.MovieDetail .movie-genres li {
  background-color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
}

.Loading {
  text-align: center;
  color: lightgray;
}

.main header {
  background-color: transparent;
}
.main header .inner .logo {
  color: #fff;
}
.main header .inner .btn-wrap.lg-hidden button {
  color: #fff;
}
.main header .inner .btn-wrap .user-name {
  color: #fff;
}

header {
  width: 100%;
  position: fixed;
  z-index: 999999;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(231, 231, 231, 0.25);
  height: 70px;
}
header.scrolled {
  background-color: #fff;
  border-bottom: 1px solid rgb(228, 228, 228);
}
header.scrolled .inner .logo {
  color: gray;
}
header.scrolled .inner .btn-wrap.lg-hidden button {
  color: gray;
}
header.scrolled .inner .btn-wrap .user-name {
  color: rgb(70, 70, 70);
}
header > .inner {
  width: 90%;
  max-width: 1720px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > .inner .left-wrap {
  display: flex;
  align-items: center;
  gap: 30px;
}
header > .inner .logo {
  font-size: 18px;
  cursor: pointer;
  color: gray;
}
header > .inner .search {
  display: flex;
  align-items: center;
  background-color: rgb(238, 238, 238);
  border-radius: 50px;
  padding: 10px 20px;
}
header > .inner .search .icon {
  font-size: 20px;
}
header > .inner .btn-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
header > .inner .btn-wrap.lg-only button {
  font-size: 14px;
  background-color: #fff;
  border: 1px solid rgb(228, 228, 228);
  padding: 5px 10px;
  border-radius: 50px;
  transition: 0.5;
}
header > .inner .btn-wrap.lg-only button:hover {
  background-color: rgb(228, 228, 228);
}
header > .inner .btn-wrap.lg-hidden button {
  color: gray;
  font-size: 25px;
}

.SignUpWrap {
  width: 80%;
  max-width: 1150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1200px) {
  .SignUpWrap {
    width: 40%;
  }
}

.SignUp {
  background-color: rgb(241, 241, 241);
  padding: 30px;
  border-radius: 10px;
}
.SignUp h2 {
  text-align: center;
  margin-bottom: 30px;
}
.SignUp form div {
  margin-bottom: 10px;
}
.SignUp form div label {
  display: block;
  margin-bottom: 5px;
}
.SignUp form div input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7529411765);
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
}
.SignUp form .submit {
  width: 100%;
  background-color: gray;
  color: #fff;
  border-radius: 50px;
  padding: 10px;
  margin-top: 50px;
}

.else {
  text-align: center;
  margin-top: 30px;
  color: gray;
}
.else a {
  font-weight: 600;
}

.SearchModal {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.SearchModal .searchWrapper {
  border-bottom: 1px solid rgb(228, 228, 228);
  padding: 10px 0;
}
.SearchModal .searchWrapper .inner {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.SearchModal .searchWrapper .inner .searchInput {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(228, 228, 228);
  padding: 10px;
  border-radius: 5px;
}
.SearchModal .searchWrapper .inner .searchInput input {
  flex-grow: 1;
}
.SearchModal .searchWrapper .inner .searchInput .searchIcon {
  font-size: 23px;
}
.SearchModal .searchResults {
  height: calc(100% - 80px);
  overflow-y: scroll;
}
.ToggleModal {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
}
.ToggleModal .closeBtn {
  font-size: 20px;
}
.ToggleModal .toggleRow .inner {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.ToggleModal .toggleRow.row1 {
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(228, 228, 228);
  padding-bottom: 20px;
}
.ToggleModal .toggleRow.row1 .inner {
  display: flex;
  justify-content: flex-end;
}
.ToggleModal .toggleRow.row2 .inner {
  justify-content: space-between;
}
.ToggleModal .user {
  font-size: 16px;
}
.ToggleModal .user span {
  font-weight: 700;
  font-size: 18px;
  margin-right: 5px;
}
.ToggleModal .logoutBtn {
  background-color: rgb(228, 228, 228);
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
